<div class="container py-3 text-center">
  <h3>Blog Update</h3>
  <form class="" id="blog-update">
    <div class="form-group d-flex align-items-center flex-column">
      <label for="blog-title">Title</label>
      <input class="form-control w-auto" type="text" name="blog-title" id="blog-title" value="{{blog.title}}">
    </div>
    <div class="form-group row">
      <textarea class="form-control" name="blog-content" id="blog-content" rows="5">{{blog.blog_content}}</textarea>
    </div>
      <button class="btn btn-success" id="submit-update" data-blog="{{blog.id}}" data-user="{{blog.user_id}}" type="submit">Update</button>
  </form>
</div>

<script src="/js/updateBlog.js"></script>