<div class="container container-fluid d-flex align-items-center justify-content-center">
	{{#if blogData}}
		{{#each blogs as |blog|}}
			<div class="card m-3 text-center">
				<div class="card-body">
					<h5 class="card-title border-bottom">{{blog.title}}</h5>
					<p class="card-text">{{blog.blog_content}}</p>
					<div class="btn-group">
						<button class="btn btn-primary">Comment</button>
					</div>
				</div>
			</div>
		{{/each}}
	{{else}}
			<h3 class="text-muted m-3">You do not have any blogs yet!</h3>
	{{/if}}
	</div>