<div class="container">
{{#each blogs as |blog|}}
  <div class="card m-3 text-left">
    <div class="card-body">
      <div class="card-title border-bottom d-flex justify-content-between">
      <h5>{{blog.title}}</h5>
      <small class="text-muted">Posted By {{blog.user.username}} on {{format_date blog.date_created}}</small>
      </div>
      <p class="card-text">{{blog.blog_content}}</p>
      <button class="btn btn-primary">Comment</button>
    </div>
  </div>
{{/each}}
</div>