<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hello World!</h1>
  </div>
</div>

<div class="container">
{{#each blogs as |blog|}}
  <div class="card m-3 text-center">
    <div class="card-body">
      <h5 class="card-title border-bottom">{{blog.title}}</h5>
      <p class="card-text">{{blog.blog_content}}</p>
      <button class="btn btn-primary">Comment</button>
    </div>
    <div class="card-footer text-muted d-flex justify-content-around">
      <p>Created By: {{blog.user_id}}</p>
      <p>Created: {{format_date blog.date_created}}</p>
    </div>
  </div>
{{/each}}
</div>