<div class="container container-fluid row justify-content-between mx-auto my-3">
  <div class="col-md-5 my-3">
    <form class="login-form">
        <h4 class="text-info">Login</h4>
        <div class="form-group row">
          <label for="usernameLogin">Username:</label>
          <input class="form-control" type="text" name="usernameLogin" id="usernameLogin">
        </div>
        <div class="form-group row">
          <label for="passwordLogin">Password:</label>
          <input class="form-control" type="password" name="passwordLogin" id="passwordLogin">
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
  </div>
  <div class="col-md-5 my-3">
    <form class="signup-form">
      <h4 class="text-info">Sign Up</h4>
        <div class="form-group row">
          <label for="usernameSignUp">Username:</label>
          <input class="form-control" type="text" name="usernameSignUp" id="usernameSignUp">
        </div>
        <div class="form-group row">
          <label for="email">Email:</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="user1234@email.com">
        </div>
        <div class="form-group row">
        <label for="passwordSignUp">Password:</label>
        <input class="form-control" type="password" name="passwordSignUp" id="passwordSignUp">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
