<div class="container py-3 text-center">
  <h3>Create New Blog</h3>
  <form class="my-3" id="newBlog">
    <div class="form-group d-flex align-items-center flex-column">
      <input class="form-control w-auto" type="text" name="blog-title" id="blog-title" placeholder="Blog Title">
    </div>
    <div class="form-group row">
      <textarea class="form-control" name="blog-content" id="blog-content" placeholder="Insert blog content here..." rows="5"></textarea>
    </div>
      <button class="btn btn-success" id="createBlog" type="submit">Create</button>
  </form>
</div>

<script src="/js/newBlog.js"></script>